[submodule "soil"]
	path = soil
	url = https://github.com/Benoit-Julien/soil
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "imgui"]
	path = imgui
	url = https://github.com/Benoit-Julien/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/Benoit-Julien/stb
